.books{
  display: inline-block;
}
.books img{
  width: 13rem;
  height: 13rem;
  margin: 2rem;
}
.bookinfo{
  margin-left: 3rem;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}
.bookinfo>img{
  margin-right: 3rem;
  width: 10%rem;
  max-height: 10%;
}
.inputdata{
  /* margin-top: 2rem; */
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

.inputdata >img{
  height: 2rem;
}
input{
  width: 30rem;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border: none;

}
button{
  width: 7rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
  border: 1px solid gray;
  border-radius: 10px;
}

body{
  background-color: black;
}